<div class="container-fluid-2">
<p class="text-uppercase">tattoo studio</p>
<p class="text-uppercase">ink master</p>
</div>
<br>
<div class="container-fluid">
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Historia</h5>
        <p class="card-text">Fundado el 15 de julio de 2010, Ink Master nació en una pequeña esquina del centro histórico de la ciudad como el sueño de tres amigos apasionados por el arte y la creatividad. Inspirados por la cultura del tatuaje y su capacidad de contar historias a través de la piel, decidieron abrir un lugar donde las ideas y los sueños de las personas se transformaran en arte eterno.
          Con un enfoque en la calidad, la innovación y la seguridad, Ink Master comenzó con un único sillón de tatuaje y un puñado de clientes que buscaban diseños personalizados. A lo largo de los años, el estudio creció, ganando reconocimiento por su dedicación a cada trazo y convirtiéndose en un referente en la comunidad. Hoy, después de más de una década de historias grabadas en tinta, Ink Master se ha consolidado como uno de los estudios más respetados, con un equipo de artistas que combina estilos tradicionales y modernos. Desde pequeñas piezas minimalistas hasta grandes obras maestras, cada tatuaje cuenta una historia, y Ink Master sigue siendo el lugar donde comienza.</p>
        <h5 class="card-title">Misión</h5>
        <p class="card-text">Nuestra misión es transformar ideas y emociones en arte eterno a través de tatuajes únicos, realizados con pasión, profesionalismo y los más altos estándares de calidad y seguridad. En Ink Master, buscamos ofrecer una experiencia creativa y personalizada que permita a cada cliente expresar su identidad y contar su historia a través de la tinta.
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Contactanos </h5>
        <h5 class="card-title">Instragram </h5>
        <p class="card-text" > Inkmaster </p>
        <h5 class="card-title">Facebook </h5>
        <p class="card-text" > Inkmaster </p>
        <h5 class="card-title">Twitter </h5>
        <p class="card-text" > Inkmaster </p>
        <h5 class="card-title">Tiktok</h5>
        <p class="card-text" > Inkmaster </p>
        <h5 class="card-title">Direccion</h5>
        <p class="card-text" > Carrera 100 #22-30 </p>
        <h5 class="card-title">Telefono</h5>
        <p class="card-text" > 322456891 </p>
      </div>
    </div>
  </div>
</div>
</div>

