html, body {
  height: 100%;          /* Asegura que la altura de la página sea del 100% */
  margin: 0;             /* Elimina el margen por defecto */
}

#sect1 {
  min-height: 100vh;     /* Hace que el contenedor tenga al menos el 100% de la altura de la pantalla */
  display: flex;         /* Flexbox para el contenedor principal */
  flex-direction: column; /* Apila los elementos en columna */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../public/asset/img/fondoDragon.png");  
}

router-outlet {
  flex: 1;               /* Permite que el contenido principal tome el espacio disponible */
}

app-cabecera,
app-navegacion,
app-pie {
  flex-shrink: 0;        /* Evita que estos elementos se encojan */
}